#Nav{
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 100%;
  padding: 1rem;
  margin-bottom: 2rem;
  background-color: var(--med);
  z-index: 5;
}
#brand{
  display: flex;
  align-items: center;
  color: var(--dark);
  font-size: 1.2rem;
}
#navRight{
  position: absolute;
  right: 1rem;
}
#Nav a{
  color: var(--dark);
  text-decoration: none;
  margin: 0 2rem;
}
#logo{
  font-size: 3rem;
  font-weight: bold;
}
