#Nav{
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 100%;
  padding: 1rem;
  margin-bottom: 2rem;
  background-color: var(--med);
  z-index: 5;
}
#brand{
  display: flex;
  align-items: center;
  color: var(--dark);
}
#navRight a{
  font-size: 1.25rem;
}
#Nav a{
  color: var(--dark);
  text-decoration: none;
  margin: 0 2rem;
}
#logo{
  font-size: 2rem;
  font-weight: bold;
}
#Nav #username{
  background-color: var(--dark);
  color: var(--med);
  padding: 0.25rem 0.5rem;
}
@media screen and (max-width: 1000px){
  #Nav{
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 600px){
  #brand span{
    display: none;
  }
  #navRight{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
