#Dashboard{
  width: 100%;
  display: flex;
  justify-content: center;
}
#user-info{
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--med);
  padding: 1rem;
  margin: 1rem;
}
#user-rides{
  background-color: var(--med);
  padding: 1rem;
}
#user-rides h2{
  border-bottom: 0.25rem solid var(--dark);
}
#user-info span{
  font-size: 1.25rem;
  border-bottom: 0.25rem solid var(--dark);
  margin-bottom: 1rem;
}
@media screen and (max-width: 1100px){
  #Dashboard{
    flex-direction: column;
    align-items: center;
  }
}
