#login-panel{
  max-width: 40rem;
  display: flex;
  margin-inline: auto;
  margin-bottom: 1rem;
  justify-content: center;
  flex-direction: column;
  background-color: var(--med);
  padding: 2rem;
}
#login-panel h2{
  border-bottom: 0.25rem solid var(--dark);
  display: inline-block;
}
#login-form{
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
#login-form label{
  margin-bottom: 1rem;
  display: inline-block
}
#login-form button{
  margin-bottom: 1rem;
  max-width: 8rem;
}