#RideSearch{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}
#RideSearch h1{
  color: var(--dark);
  border-bottom: 0.2rem solid var(--dark);
  margin-bottom: 1rem;
  width: 100%;
}
#ride-search-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--med);
  width: fit-content;
  padding: 1rem;
  margin: 2rem;
}
#RideSearch input{
  margin-bottom: 1rem;
  width: 100%;
}
#create-ride-plug{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--med);
  padding: 1rem;
  font-weight: 300;
}
@media screen and (max-width: 1200px){
  #RideSearch{
    flex-direction: column;
  }
}
