.messages-container {
  margin: 0 auto;
  margin-bottom: 100px;
  width: 90%;
  text-align: center;

}

.current-username {
  text-align: center;
  width: 15rem;
  margin: 0 auto;
  margin-bottom: 15px;
  font-size: 30px;
  padding: 15px;
  padding-top: 20px;
  background-color: var(--med);
}

@media screen and (max-width: 768px){
  .messages-container {
    width: 90%;
  }
}

@media screen and (max-width: 1024px){
  .messages-container {
    width: 90%;
  }
}

@media screen and (max-width: 320px){
  .messages-container {
    width: 95%;
  }
}

@media screen and (max-width: 1440px){
  .messages-container {
    width: 95%;
  }
}
